__*__
*.h5
*.npz
*.code-workspace
.vscode
.gitignore
apikeytest.py
datasets_keras2.py
Archive/
plots/
settings_saved/
models_old/
models_selected/
models_selected_manually/
models_output/
Datasets/Fraeser_Aufnahmen_220824_Inkl_Verkippt/
Datasets/Fraeser_Aufnahmen_Bis_220823/
Datasets/Fraeser_KI_Cafe2/
Datasets/hirise-map-proj-v3_2/
Datasets/urbansound8k/
Datasets/wine+quality/
Datasets/HiSE_dataset_generation/dataset_HiSE64/
Datasets/HiSE_dataset_generation/dataset_HiSE256/